/*
.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;

  .button {
    margin-bottom: 10px;
    padding: 10px 20px;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;

    &.blue-button {
      background-color: blue;
    }

    &.green-button {
      background-color: green;
    }
  }
  .first-modal-style {
    background-color: rgba(255, 0, 0, 0.5);
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    border-radius: 4px;
    max-width: 400px;
    text-align: center;
    z-index: 1000;
    h2 {
      margin-top: 0;
      color: rebeccapurple;
    }

    p {
      margin-bottom: 20px;

      color: #212223;
    }
    .FirstModalFirstBtn {
      border-radius: 50%;
    }

  }

  .second-modal-style {
    background-color: rgba(0, 255, 0, 0.5);
    h2 {
      margin-top: 0;

      color: #cb7310;
    }

    p {
      margin-bottom: 20px;
      color: #1020ce;
    }

  }
  .close-button {
    position: relative;
    top: 10px;
    right: 10px;
    !*
    background-color: transparent;
    *!
    border: none;
    font-size: 20px;
    cursor: pointer;
  }
}

.modal-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: -1000;
}


 !* .modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.5);

    &.first-modal-style {
      background-color: rgba(255, 0, 0, 0.5);
    }

    &.second-modal-style {
      background-color: rgba(0, 255, 0, 0.5);
    }
  }

  .modal-content {
    background-color: white;
    padding: 20px;
    border-radius: 4px;
    max-width: 400px;
    text-align: center;

    h2 {
      margin-top: 0;
    }

    p {
      margin-bottom: 20px;
    }

    .actions {
      display: flex;
      justify-content: center;

      button {
        margin: 0 5px;
        padding: 10px 20px;
        color: white;
        border: none;
        border-radius: 4px;
        cursor: pointer;

        &.red-button {
          background-color: red;
        }

        &.yellow-button {
          background-color: yellow;
        }
      }
    }
  }
}
*!
*/


.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;

  .button {
    margin-bottom: 10px;
    padding: 10px 20px;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }

  .modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999;
  }

  .modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    border-radius: 8px;
    width: 520px;
    height: 265px;
    text-align: center;
    z-index: 1000;
    box-shadow: 12px 12px 2px 1px rgba(3, 3, 3, 0.2);

    p {
      margin-top: 0;
      margin-bottom: 0;
      box-sizing: content-box;
      line-height: 2;
      padding: 30px;
    }

    .actions {
      display: flex;
      justify-content: center;
      gap: 10px;

      button {
        margin: 0 5px;
        padding: 10px 20px;
        color: white;
        border: none;
        border-radius: 4px;
        cursor: pointer;
      }

      .FirstModal-FirstBtn {
        background-color: rgba(179, 56, 44, 1);
        width: 100px;
        height: 40px;
      }

      .FirstModal-SecondBtn {
        background-color: rgba(179, 56, 44, 1);
        width: 100px;
        height: 40px;
        padding-bottom: 24px;
      }

      .SecondModal-FirstBtn {
        background-color: rgb(41, 73, 154);
        border-radius: 0 50px 0;
        width: 100px;
        border: 2px solid black;
      }

      .SecondModal-SecondBtn {
        background-color: rgb(41, 73, 154);
        border-radius: 50px 0;
        width: 100px;
        border: 2px solid black;
      }

      .SecondModal-FirstBtn:hover{
        transition : 1000ms;
        transform : translateY(-0px);
        background-color: #fff;
        color: #0066cc;
        border: solid 2px #0066cc;
      }

      .SecondModal-SecondBtn:hover{
        transition : 1000ms;
        transform : translateY(-0px);
        background-color: #fff;
        color: #ff002c;
        border: solid 2px #ff002c;
      }
    }

    .close-button {
      position: absolute;
      top: 26px;
      right: 30px;
      background-color: transparent;
      scale: percentage(1.3);
      border: none;
      color: rgb(255, 255, 255);
      font-size: 20px;
      cursor: pointer;
    }
  }

  .first-modal {
    background-color: rgba(231, 76, 60, 1);
    height: 265px;
    color: rgb(255, 255, 255);
    border-radius: 6px;

    h2 {
      margin-top: 0;
      margin-bottom: 0;
      display: flex;
      justify-content: left;
      padding: 24px 0 25px 30px;
      background-color: rgba(212, 70, 55, 1);
      border-top-left-radius: 6px;
      border-top-right-radius: 6px;
      line-height: 1;
    }
  }

  .second-modal {
    background-color: rgba(35, 164, 35, 0.8);
    height: 265px;
    color: rgb(33, 34, 35);
    border-radius: 6px;

    h2 {
      margin-top: 0;
      margin-bottom: 0;
      display: flex;
      justify-content: left;
      padding: 24px 0 25px 30px;
      background-color: rgb(135, 218, 145);
      border-top-left-radius: 6px;
      border-top-right-radius: 6px;
      line-height: 1;
    }
  }
}